@(carBrandList: List[CarBrand])(totalPageCount: Integer)(currentPage: Integer)(message: String)

@main("Laikanche Admin") {

    <div class="panel panel-default " style="margin-top: 20px;">
        <div class="panel-heading">汽车品牌管理
            @if(message != null ){
                <span class="label label-danger">@message</span>
            }
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>品牌名称</th>
                        <th>修改</th>
                        <th>删除</th>
                    </tr>
                </thead>
                <tbody>

                @for(carBrand <- carBrandList) {

                    <tr>
                        <th scope="row">@carBrand.id</th>
                        <td><a href="/admin/carbrand/@carBrand.id/read">@carBrand.name</a></td>
                        <td> <a href="/admin/carbrand/@carBrand.id/update">修改</a></td>
                        <td><a href="/admin/carbrand/@carBrand.id/delete">删除</a></td>
                    </tr>


                }
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    @for(i <- 1 to totalPageCount ) {
                        <li><a href="http://@request().host()/admin/carbrand?page=@i">@i</a></li>
                    }
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="panel-footer">
            @session().get("op_message") <br/>
            <a class="btn btn-info" href="/admin/carbrand/0/create">添加新品牌</a>
        </div>

    </div>


}
