@(carSeriesForm: Form[dtos.CarSeriesDTO])

@import utils.Constants

@main("Laikanche Admin") {


    @helper.form(action = routes.AdminCarSeries.saveOrUpdateOrDelete(), 'class -> "form-horizontal") {


        @if(Constants.OP_READ.equalsIgnoreCase(carSeriesForm.get().operationCode) ||
                Constants.OP_UPDATE.equalsIgnoreCase(carSeriesForm.get().operationCode) ||
                Constants.OP_DELETE.equalsIgnoreCase(carSeriesForm.get().operationCode)

        ) {

            <div class="form-group">
                <label for="id" class="col-sm-2 control-label"> 汽车车系唯一标志</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id" name="id" placeholder="" value="@carSeriesForm.get().id" readonly>
                </div>
            </div>

        }


        <div class="form-group">
            <label for="carBrandId" class="col-sm-2 control-label">汽车品牌</label>
            <div class="col-sm-10">
                <select name="carBrandId" id="carBrandId" class="form-control">

                @for(carBrand <- carSeriesForm.get().carBrandList) {
                    @if( carSeriesForm.get().carBrandId == carBrand.id ) {
                        <option value="@carBrand.id" selected>@carBrand.name</option>
                    } else {
                        <option value="@carBrand.id">@carBrand.name</option>
                    }

                }
                </select>
            </div>
        </div>


        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">汽车系列名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入汽车品牌名称" value="@carSeriesForm.get().name">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">汽车系列详细说明</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="description" name="description">@carSeriesForm.get().description</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="operationCode" class="col-sm-2 control-label"> 操作类型 </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="operationCode" name="operationCode" placeholder="" value="@carSeriesForm.get().operationCode"  readonly>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            @if(Constants.OP_CREATE.equalsIgnoreCase(carSeriesForm.get().operationCode)) {
                <button type="submit" class="btn btn-default">保存</button>
            }

            @if(Constants.OP_READ.equalsIgnoreCase(carSeriesForm.get().operationCode)) {
                <button type="submit" class="btn btn-default">关闭</button>
            }

            @if(Constants.OP_UPDATE.equalsIgnoreCase(carSeriesForm.get().operationCode)) {
                <button type="submit" class="btn btn-default">保存</button>
            }

            @if(Constants.OP_DELETE.equalsIgnoreCase(carSeriesForm.get().operationCode)) {
                <button type="submit" class="btn btn-default">删除</button>
            }

        </div>
    }

}
