@(carBrandForm: Form[forms.CarBrandForm])

@import forms.CarBrandForm
@import helper._


@main("Laikanche Admin") {
    <br/>
    @helper.form(action = routes.AdminCarBrand.saveOrUpdateOrDelete(), 'class -> "form-horizontal") {

        <div class="form-group">
            <label for="id" class="col-sm-2 control-label"> 汽车品牌唯一标志</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" placeholder="" value="@carBrandForm.get().id">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">汽车品牌名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="请输入汽车品牌名称" value="@carBrandForm.get().name">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">汽车品牌详细说明</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="description" name="description">@carBrandForm.get().description</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="operationCode" class="col-sm-2 control-label"> 操作类型 </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="operationCode" name="operationCode" placeholder="" value="@carBrandForm.get().operationCode">
            </div>
        </div>



        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保存</button>
        </div>

    }

}
