@(carVideoList: List[CarVideo])(totalPageCount: Integer)(currentPage: Integer)


@import utils.Tools

    @main("Laikanche Admin") {

        <div class="panel panel-default " style="margin-top : 20px;" ;>
            <div class="panel-heading">汽车评测管理</div>
            <div class="panel-body" >
                <table class="table table-hover" width="100%" cellpadding="0" cellspacing="0"  style="border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>品牌</th>
                            <th>车系</th>
                            <th>标题</th>
                            <th>截图</th>

                            <th>来源</th>
                            <th>URL</th>
                            <th>好评数</th>
                            <th>差评数</th>

                            <th>创建人</th>
                            <th>创建时间</th>

                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>

                    @for(carVideo <- carVideoList) {

                        <tr>
                            <td scope="row">@carVideo.id</td>
                            <td> <a href="/admin/carbrand/@carVideo.carSeries.carBrand.id/read" target="_blank"> @carVideo.carSeries.carBrand.name </a> </td>
                            <td> <a href="/admin/carseries/@carVideo.carSeries.id/read" target="_blank"> @carVideo.carSeries.name </a> </td>

                            <td> <a href="/admin/carvideo/@carVideo.id/read" target="_blank"> @carVideo.title </a> </td>

                            <td>
                                <img src="http://@request().host()/file/@carVideo.screenFileName" width="150px" height="100px">
                            </td>

                            <td> @carVideo.fromWeb </td>
                            <td> @carVideo.url </td>
                            <td> @carVideo.countGood </td>
                            <td> @carVideo.countBad </td>

                            <td> @carVideo.reporter </td>
                            <td> @Tools.formatYYYYMMDDHHMMSS(carVideo.createDate) </td>

                            <td><a href="/admin/carvideo/@carVideo.id/update">修改</a></td>
                            <td><a href="/admin/carvideo/@carVideo.id/delete">删除</a></td>
                        </tr>


                    }
                    </tbody>
                </table>

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        @for(i <- 1 to totalPageCount ) {
                            <li><a href="http://@request().host()/admin/carvideo?page=@i">@i</a></li>
                        }
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="panel-footer">
                <a class="btn btn-info" href="/admin/carvideo/0/create">添加新车评</a>
            </div>

        </div>


    }
